:root {
  --background: #ecf0f4;
  --molecule-bg: #fff;
  --color: #222;
  --primary: #ff0046;
  --secondary: #28282d;
  --contrast: #f0f0f0;
  --border: #dce1ea;
  --shadow: #d2d7e1;

  --success: #76ff5b;
  --warning: #ffb555;
  --error: #ff5874;
  --info: #656d79;
  --muted: #ededf0;

  --gap: 20px;
  --space: 8px;
  --radius: 8px;
  --topBarHeight: 42px;

  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background);
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Container */
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.min-container {
  max-width: 620px;
  margin: 0 auto;
}

/* Layout */
.stack-column {
  --gap: 2;
  grid-gap: calc(var(--gap) * var(--space));
  align-content: flex-start;
  display: grid;
  grid-template-columns: 1fr;
}

.page__header {
  margin-bottom: 2rem;
}

/* Typography */
h1,
.h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 18x;
  font-weight: bold;
}

h5,
.h5 {
  font-weight: bold;
}

a {
  color: var(--primary);
}

.underline {
  text-decoration: underline;
}

.muted {
  color: var(--info);
}

.help {
  color: var(--info);
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.color-primary {
  color: var(--primary);
}

.color-success {
  color: var(--success);
}

.color-warning {
  color: var(--warning);
}

.color-error {
  color: var(--error);
}

.color-info {
  color: var(--info);
}

.page__title {
  margin-bottom: 1.2rem;
}

/* Header and Footer */
header,
footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 4rem;
}

/* Form */
form {
  background-color: var(--molecule-bg);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow);
  padding: 14px;
}

/* Input */
fieldset {
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 1em;
}

fieldset legend {
  padding: 0 calc(var(--space));
  font-weight: bold;
}

.multiple-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.multiple-checkbox > * {
  margin: 4px;
}

.multiple-checkbox input[type="checkbox"],
.multiple-checkbox input[type="radio"] {
  opacity: 0;
  width: auto;
  display: none;
}

.multiple-checkbox input[type="radio"]:checked + label,
.multiple-checkbox input[type="checkbox"]:checked + label {
  background-color: var(--primary);
}

.multiple-checkbox input[type="radio"]:checked + label,
.multiple-checkbox input[type="checkbox"]:checked + label {
  color: var(--contrast);
}

.multiple-checkbox label {
  border: 1px solid var(--primary);
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 23px;
  display: inline-block;
}

/* Button */
button,
.button {
  border: none;
  border-radius: var(--radius);
  font-size: inherit;
  color: inherit;
  padding: 6px 8px;
  cursor: pointer;
  background-color: unset;
  display: inline-flex;
}

.button-primary {
  background-color: var(--primary);
  color: var(--contrast);
}

.button-cancel {
  background-color: var(--secondary);
  color: var(--contrast);
}

button svg {
  fill: var(--contrast);
  width: 26px;
}

.button-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--contrast);
  padding: 8px 10px 12px;
  box-shadow: 0 2px 4px var(--shadow);
}

.fixed-br {
  position: fixed;
  right: 2rem;
  top: 5.5rem;
  z-index: 3;
}

.form-submit {
  text-align: right;
}

.button .icon-label {
  margin-left: var(--space);
}

/**/
.items-list li {
  margin-bottom: 1rem;
}

img {
  display: flex;
  margin: 0 auto;
  border-radius: var(--radius);
}

/* Details */
details > summary {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

details + details {
  margin-top: 2rem;
}

/* Media Queries */
@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 1330px;
  }
}

@media screen and (min-width: 768px) {
  .page__header {
    margin-bottom: 4rem;
  }
}

/* Hover */
@media (hover: hover) and (pointer: fine) {
  .multiple-checkbox
    input[type="checkbox"]:not(input[type="checkbox"]:checked)
    + label:hover,
  .multiple-checkbox
    input[type="radio"]:not(input[type="radio"]:checked)
    + label:hover {
    background-color: var(--primary);
    color: var(--contrast);
  }
}
